* {
  margin:0px;
  padding:0px;
}
img {
  border: solid 3px black;
}

ul{
  display: flex;
  border: 1px solid red;
  justify-content: center;
  gap: 20px
}

article{
  color:black;
}
body {
    background-color: sandybrown;
}

.normalImages {
  height: 400px;
  width: 500px;
}

h1,h2,h3 {
  color:crimson
}

footer{
  padding: 30px;
  text-align: center;
}
Nav li{
  list-style-type: none;
}
.Kontakt_Img{
  height: 200px;
  width: 175px;
  justify-content: end;
}

#year{
  padding: 20px;
  color: red;
  font-size: 26px;;
}
.om-oss-Text{
  
}