* {
  margin:0px;
  padding:0px;
  color: whitesmoke;
}
img {
  border: solid 3px black;
}

a {
  display:block;
}
article{
  color:white
}
body {
    background-color: black;
}

h1,h2,h3 {
  color:crimson
}
nav ul{
  display:flex;
   gap: 20px; 
}
footer{
  padding: 300px;
  text-align: center;
}